# Yandex Cloud Variables
YC_ACCESS_KEY_ID=
YC_SECRET_ACCESS_KEY=
YC_DOCAPI_ENDPOINT=

# Telegram Bot Variables
TELEGRAM_BOT_TOKEN=
OWNER_TELEGRAM_ID=

# OpenAI Variables
OPENAI_API_KEY=
OPENAI_PROXY=

# Plugins Variables
WOLFRAM_API_KEY=
DUCKDUCKGO_SAFESEARCH=
WORLDTIME_DEFAULT_TIMEZONE=